@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.page-container {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.22)
    ),
    url("../images/background_image.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.robin-salomon-name {
  color: gray;
  display: inline-flex;
  fill: #000;
  font-family: "Roboto Condensed", sans-serif;
  height: 48px;
  line-height: 30px;
  outline: 0;

  text-decoration: none;
  letter-spacing: 15px;
  opacity: 0.6;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.headshot {
  max-width: 100%;
  height: auto;
  width: 400px;
}
.robin-salomon-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40vh;
}
.web-developer{
  color: gray;
  display: inline-flex;
  fill: #000;
  font-family: "Roboto Condensed", sans-serif;
  height: 48px;
  outline: 0;
  text-decoration: none;
  letter-spacing: 7px;
  opacity: 0.6;
  font-size: 1.5rem;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  
}

.landing-page-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-item {
  color: gray;
  display: inline-flex;
  fill: #000;
  font-family: "Roboto Condensed", sans-serif;
  height: 48px;
  outline: 0;
  text-decoration: none;
  letter-spacing: 7px;
  opacity: 0.6;
  font-size: 1.5rem;
  padding: 15px;
  margin-top: -10px;
}
.menu-item:hover{
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 601px) {
  .robin-salomon-name {
    opacity: 1.5;
    font-size: 7vw;
    letter-spacing: 12px;
  }
  .menu-item{
    font-size: 3.5vw;
    padding: 5px;
  }
  .web-developer{
    font-size: 1.5rem;
    text-align: center;
  }
}
